project-2/Project2_Research_Assistant.json
{
  "name": "Project2_Research_Assistant",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        -16
      ],
      "id": "e8ccc432-0e5a-4cfd-8d99-4e63451c51ee",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "http://export.arxiv.org/api/query?search_query=cat:cs.AI&sortBy=lastUpdatedDate&sortOrder=descending&max_results=5",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text",
              "outputPropertyName": "string"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        224,
        -16
      ],
      "id": "1ac7adc2-c30f-4f05-92a4-ebdab09da647",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        1120,
        -16
      ],
      "id": "0ca316a3-0332-4166-bcec-4313b43c1f01",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1128,
        208
      ],
      "id": "a2e839a9-715a-4c29-aed6-2b1f92c58bd8",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "b7G0QdlNsT0oPRvT",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "=Title: {{ $json.title[0] }} - Abstract: {{ $json.summary[0] }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1256,
        208
      ],
      "id": "3dd5c919-5ed0-4dd5-8d9d-612c14df9b7a",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1456,
        192
      ],
      "id": "806e7765-8cab-4c60-ae86-9b138cf3551b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "AVaJ5kcu4w6i2gSR",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataPropertyName": "string",
        "options": {
          "explicitArray": true,
          "explicitRoot": true
        }
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        448,
        -16
      ],
      "id": "281754b2-3866-468f-8578-0fc933d4c964",
      "name": "XML"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "439b3b1b-fca9-402d-8b68-a97e1d4d3c7e",
              "name": "paper_entries",
              "value": "={{ $json.feed.entry }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        -16
      ],
      "id": "ee3bd1a3-2d42-42a4-9f34-3a9b82c125fa",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "const inputItem = $input.item.json;\n// The list of papers is inside the paper_entries property.\nconst papersArray = inputItem.paper_entries;\n\n// The get and set functions require a structure where each array element is its own item.\nreturn papersArray.map(paper => {\n    return {\n        json: paper // Each paper object becomes its own item\n    }\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        -16
      ],
      "id": "7b344c64-1d28-41dc-af45-6d4376153353",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "fromEmail": "kunal120222@gmail.com",
        "toEmail": "ks19032005@gmail.com",
        "subject": "=Daily AI Research Digest for {{ new Date().toLocaleDateString('en-US') }}",
        "emailFormat": "text",
        "text": "={{ $json.final_email_body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2272,
        -16
      ],
      "id": "1d6a8ead-080e-4408-b5e9-88655b4405d9",
      "name": "Send email",
      "webhookId": "b5a3dc4d-e2c6-45d4-bd53-086c714e7f1f",
      "credentials": {
        "smtp": {
          "id": "ipOxXDBRe8neBsYL",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Generate a concise summary report of the key findings from the latest AI research papers.",
        "options": {
          "systemMessage": "You are a helpful assYou are a senior AI research analyst. Your task is to analyze the retrieved research paper abstracts and synthesize a single, concise report (maximum 5 insightful bullet points) on the most significant findings regarding the state of AI. Focus on key innovations and trends. Do not use conversational language.istant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1472,
        -16
      ],
      "id": "783198a4-2666-4b26-ba8b-c647f9eed464",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "all_summaries",
        "include": "specifiedFields",
        "fieldsToInclude": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1824,
        -16
      ],
      "id": "3b256672-5d64-4c7b-a625-f128faa52708",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "99f78389-4036-4062-b432-f19910574bdc",
              "name": "final_email_body",
              "value": "={{ $json.all_summaries.map(item => item.output).join('\\n\\n--- RESEARCH BREAK ---\\n\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2048,
        -16
      ],
      "id": "22b5604c-b9e6-4b55-8e06-28d166f209b0",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "XML": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Simple Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "eec51914-6cac-4668-9dba-2fef5711cdd6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "510d8e4857741bb67d61b20dd97c0a639eab26faff4cc8e2ccfa14019a176ccf"
  },
  "id": "lCPUEG7AP8LDN0CD",
  "tags": []
}