project-1/Project1_Doc_Ingestion.json
{
  "name": "Project1_Doc_Ingestion",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "dbed52fa-a15e-4c0b-ac4a-d2060145fc3b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/Kunal-Somani/n8n-test-repo/refs/heads/main/README.md",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        224,
        0
      ],
      "id": "7d608fdf-6e85-4bdd-827f-b81fdc5d2f9b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "value": "test-repo-docs",
          "mode": "list"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        496,
        0
      ],
      "id": "5599c512-c058-4fcb-946e-c1f1ff0b54bf",
      "name": "Simple Vector Store",
      "notesInFlow": false
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "={{ $json.data }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        640,
        176
      ],
      "id": "c0b8ccc8-2e28-432a-8950-51dffcbefe9d",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        416,
        176
      ],
      "id": "8741c20e-a0ed-4efb-9169-5451e2532d6f",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "a5DIFnzKljSIt7ZY",
          "name": "Ollama account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Simple Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "62ba605e-a984-46f5-bb07-85e505724891",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "510d8e4857741bb67d61b20dd97c0a639eab26faff4cc8e2ccfa14019a176ccf"
  },
  "id": "9ujcUr1TGL98gc0u",
  "tags": []
}