project-1/Project1_GitHub_Agent.json
{
  "name": "Project1_GitHub_Agent",
  "nodes": [
    {
      "parameters": {
        "owner": {
          "__rl": true,
          "value": "Kunal-Somani",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-test-repo",
          "mode": "list",
          "cachedResultName": "n8n-test-repo",
          "cachedResultUrl": "https://github.com/Kunal-Somani/n8n-test-repo"
        },
        "events": [
          "issues"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.githubTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -192
      ],
      "id": "1ebb4ff5-964a-4487-a56d-3a79d9c2b878",
      "name": "Github Trigger",
      "webhookId": "fdcb7c22-4fdf-4780-a961-bba416a13902",
      "credentials": {
        "githubApi": {
          "id": "nCoroe4dwmlYcTy2",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fc9b598b-b26e-485a-a05b-b24fb9ce2090",
              "leftValue": "={{ $json.body.action.trim() }}",
              "rightValue": "opened",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        224,
        -192
      ],
      "id": "0d4684ab-c4b4-44cb-a915-5d02157dc626",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $node[\"If\"].json.body.issue.body }}",
        "options": {
          "systemMessage": "You are a helpful assistYou are a classification bot.\nRead the user's text.\nClassify the text as \"question\", \"bug\", or \"feature\".\nRespond ONLY with the single word of your classification. Do not add any other text.ant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        448,
        -64
      ],
      "id": "de6c4458-0a2b-4925-90b8-fb3e78d71587",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.trim().toLowerCase() }}",
                    "rightValue": "question",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "7e2af646-b407-48cf-a233-28a24a9cf6d1"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "494185ec-e6aa-471f-bbd4-d5d204ff13b5",
                    "leftValue": "={{ $json.output.trim().toLowerCase() }}",
                    "rightValue": "bug",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "64c0c114-17cc-4c4b-807f-d300fdbd7e18",
                    "leftValue": "={{ $json.output.trim().toLowerCase() }}",
                    "rightValue": "feature",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1024,
        -208
      ],
      "id": "046a21fb-08fd-4c93-b5cf-230105f04e62",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.body.issue.comments_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"body\": \"Thank you for your question. A team member will look at this shortly.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1248,
        -384
      ],
      "id": "ce6ba48e-35c2-4dc2-89eb-09eb3a28dff9",
      "name": "HTTP Request",
      "credentials": {
        "githubApi": {
          "id": "nCoroe4dwmlYcTy2",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.body.issue.comments_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"body\": \"Thank you for reporting this! Our team has logged this as a bug and will investigate it shortly.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1248,
        -192
      ],
      "id": "ec31061f-86cc-41d9-9892-9585f7a7d492",
      "name": "HTTP Request1",
      "credentials": {
        "githubApi": {
          "id": "nCoroe4dwmlYcTy2",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.body.issue.comments_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"body\": \"Thank you for your suggestion! We've added this to our enhancement tracker for review.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1248,
        0
      ],
      "id": "69389dee-9eb7-40f9-ac22-963e0d6438fc",
      "name": "HTTP Request2",
      "credentials": {
        "githubApi": {
          "id": "nCoroe4dwmlYcTy2",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        800,
        -192
      ],
      "id": "4fccdab2-6401-423f-947a-6df98f2125d1",
      "name": "Merge"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        320,
        144
      ],
      "id": "f293cec8-a404-4e76-a68e-772e044d103e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "AVaJ5kcu4w6i2gSR",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Github Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ecda41af-7f74-447d-b562-dd4e1c6770a0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "510d8e4857741bb67d61b20dd97c0a639eab26faff4cc8e2ccfa14019a176ccf"
  },
  "id": "wJ6cn0OAXyuVXsiH",
  "tags": []
}