project-4/Project4_GSheets_Agent.json
{
  "name": "Project4_GSheets_Agent",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -192,
        -32
      ],
      "id": "7e4cd882-c2ae-4ceb-8eb9-9de3953872c1",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "218fb73b-6cfc-48ef-80d8-8d5d52e575de",
              "name": "unstructured_text ",
              "value": "Hi, my name is Alex Johnson from TechCorp. I'm writing to ask about your enterprise pricing. My email is alex.j@techcorp.com. Thanks.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        -32
      ],
      "id": "13e5ede9-6b87-465c-95ec-809cf3cefe49",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json[\"unstructured_text \"] }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a hYou are an expert data extraction bot. Your job is to read a block of text and extract the key entities.\n\nYou must respond ONLY with a single, valid JSON object. Do not add any other text.\nIf a value is not found, use an empty string \"\"..\n\nHere are your examples:\n\nText: \"John from Acme Inc needs a quote. Email is john.doe@acme.com.\"\nJSON:\n{\n  \"name\": \"John Doe\",\n  \"email\": \"john.doe@acme.com\",\n  \"company\": \"Acme Inc.\",\n  \"inquiry\": \"needs a quote\"\n}\n\nText: \"This is Sarah. I'm wondering about your services. sarah.k@gmail.com\"\nJSON:\n{\n  \"name\": \"Sarah\",\n  \"email\": \"sarah.k@gmail.com\",\n  \"company\": \"\",,\n  \"inquiry\": \"wondering about your services\"\n}elpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        288,
        -32
      ],
      "id": "8f83e4cc-91ef-4612-a62a-b1cc4a9b466f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        256,
        192
      ],
      "id": "d1e68a8b-de23-472b-bf6b-01093a7e0510",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "EZlEMT9vXQ30b9WY",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "={\n  \"type\": \"object\",\n  \"properties\": {\n    \"name\": { \"type\": \"string\" },\n    \"email\": { \"type\": \"string\" },\n    \"company\": { \"type\": \"string\" },\n    \"inquiry\": { \"type\": \"string\" }\n  },\n  \"required\": [\"name\", \"email\", \"inquiry\"]\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        384,
        192
      ],
      "id": "b9ae1ddc-ce40-4cb7-ae76-87861be4a084",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": "mistral:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        464,
        400
      ],
      "id": "17bf3e7e-9d42-4ee5-b5d8-839f15417dbf",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "a5DIFnzKljSIt7ZY",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1KBITZFOaNzGlXHLbVEpTHufOiRsd_vrp9ZU3H1CPkRY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KBITZFOaNzGlXHLbVEpTHufOiRsd_vrp9ZU3H1CPkRY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.output.name }}",
            "Email": "={{ $json.output.email }}",
            "Company": "={{ $json.output.company }}",
            "Inquiry": "={{ $json.output.inquiry }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Inquiry",
              "displayName": "Inquiry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "output",
              "displayName": "output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        752,
        -32
      ],
      "id": "83222af9-4546-47f6-8c64-98929d3b9551",
      "name": "Append row in sheet",
      "credentials": {
        "googleApi": {
          "id": "7w7xgNkPYLUo46HU",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e00bc257-afbd-4f46-ae0f-be3cc98c9c33",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "510d8e4857741bb67d61b20dd97c0a639eab26faff4cc8e2ccfa14019a176ccf"
  },
  "id": "6AD3RyHC0Ev6ZNwv",
  "tags": []
}